---
title: FruitCollect - Notre Mission
---
<div class="tabs">
   <ul class="nav nav-tabs" role="tablist">
      <li class="active"> <a data-toggle="tab" href="#project">Le Projet</a></li>
      <li><a data-toggle="tab" href="#team">L'équipe</a></li>
      <li><a data-toggle="tab" href="#statuts">Statuts de l'Association</a></li>
   </ul>

   <div class="tab-content">
      <div id="project" class="tab-pane active">
         <div class="row">
            <div class="col-md-8 col-sm-8">
               <h2>Le Projet</h2>
               <p class="lead">Fruitcollect est une ASBL qui cueille les fruits non-consommés des jardins de particuliers afin de les redistribuer à des personnes dans le besoin.</p>
               <p>FruitCollect veut <strong>sensibiliser sur l’importance d’une alimentation saine, durable et locale</strong>, ainsi que de <strong>lutter contre le gaspillage alimentaire</strong> par la récolte et la redistribution de ces fruits aux plus démunis. FruitCollect est donc actif sur deux pans : social et écologique !</p>

               <p>Notre activité principale est la récolte de fruits chez des particuliers.</p>

               <div class="panel panel-default">
                  <div class="panel-heading">
                     <i class="fa fa-question-circle"></i> <span>Comment se passe nos récoltes en pratique ?</span>
                  </div>
                  <div class="panel-body">
                     <p>Nous nous rendons directement chez les particuliers qui souhaitent donner leurs fruits avec une équipe de bénévoles. En quelques heures, nous récoltons les fruits et allons directement les distribuer à nos ASBL partenaires.</p>
                  </div>
               </div>

               <h2>Notre Vision</h2>

               <blockquote>FruitCollect veut valoriser des ressources locales, de qualité et de saison pour tous. FruitCollect souhaite rendre la société plus juste en créant du lien et du partage tout en luttant ensemble contre le gaspillage alimentaire.</blockquote>

               <h2>Nos Missions</h2>

               <ul>
                  <li>Valoriser les ressources locales</li>
                  <li>Lutter contre le gaspillage alimentaire au travers de récoltes et redistributions</li>
                  <li>Créer du lien, de la convivialité et du partage au travers de nos activités impliquant des publics variés.</li>
                  <li>Favoriser l’accès à l’alimentation durable pour tous</li>
                  <li>Sensibiliser sur le gaspillage alimentaire et à l’alimentation à travers nos activités</li>
               </ul>

            </div>
            <!-- <div class="col-md-4 col-sm-4 hidden-xs content-right">
                 <img src="images/img_terre.jpg" alt="" style="margin-top:0px">
                 </div> -->
         </div>
      </div>

      <div id="team" class="tab-pane">
         <div class="row">
            <div class="col-md-12 col-sm-12">
               <h2>L'équipe</h2>

               <p>Nous sommes une équipe jeune et dynamique composé de 8 personnes engagées dans la lutte contre le gaspillage alimentaire et l’accès à une alimentation de qualité pour tous.</p>

               <div class="row" align="center">
                  <div class="col-xs-6 col-sm-4">
                     <div class="thumbnail">
                        <%= image_tag "team/maxime_niego.jpg", :class => "team-pic" %>
                        <div class="caption">
                           <h4>Maxime Niego</h4>
                           <p>Chef de projet</p>
                        </div>
                     </div>
                  </div>
                  <div class="col-xs-6 col-sm-4">
                     <div class="thumbnail">
                        <%= image_tag "team/sebastian_dupas.jpg", :class => "team-pic" %>
                        <div class="caption">
                           <h4>Sebastian Dupas</h4>
                           <p>Responsable Financier</p>
                        </div>
                     </div>
                  </div>
                  <div class="col-xs-6 col-sm-4">
                     <div class="thumbnail">
                        <%= image_tag "team/augustin_jacobs.jpg", :class => "team-pic" %>
                        <div class="caption">
                           <h4>Augustin Jacobs</h4>
                           <p>Responsable logistique</p>
                        </div>
                     </div>
                  </div>
                  <div class="col-xs-6 col-sm-4">
                     <div class="thumbnail">
                        <%= image_tag "team/alicia_gobaerts.jpg", :class => "team-pic" %>
                        <div class="caption">
                           <h4>Alicia Gobaerts</h4>
                           <p>Communication</p>
                        </div>
                     </div>
                  </div>
                  <div class="col-xs-6 col-sm-4">
                     <div class="thumbnail">
                        <%= image_tag "team/helene_bastien.jpg", :class => "team-pic" %>
                        <div class="caption">
                           <h4>Hélène Bastien</h4>
                           <p>Fundraiser</p>
                        </div>
                     </div>
                  </div>
               </div>
            </div>

            <!-- <div class="col-md-4 col-sm-4 hidden-xs content-right">
                 <img src="images/img_terre.jpg" alt="" style="margin-top:0px">
                 </div> -->
         </div>
      </div>

      <div id="statuts" class="tab-pane">
         <div class="row">
            <div class="col-md-8 col-sm-8">
               <h2>Les Statuts</h2>
               <p class="lead">Le 12 Novembre 2015, FruitCollect a déposé ses statuts pour devenir une vraie ASBL aux yeux de la loi.</p>
               <p><a href="assets/static/statuts_fruitcollect.pdf">Cliquez-ici pour télécharger les statuts <i class="fa fa-cloud-download"></i></a></p>
            </div>
            <!-- <div class="col-md-4 col-sm-4 hidden-xs content-right">
                 <img src="images/img_terre.jpg" alt="" style="margin-top:0px">
                 </div> -->
         </div>
      </div>
   </div>
</div>
