---
title: FruitCollect - Notre Mission
---
<div class="tabs">
   <ul class="nav nav-tabs" role="tablist">
      <li class="active"> <a data-toggle="tab" href="#project">Le Projet</a></li>
      <li><a data-toggle="tab" href="#team">L'équipe</a></li>
      <li><a data-toggle="tab" href="#statuts">Statuts de l'Association</a></li>
   </ul>

   <div class="tab-content">
      <div id="project" class="tab-pane active">
         <div class="row">
            <div class="col-md-8 col-sm-8">
               <h2>Le Projet</h2>
               <p class="lead">Fruitcollect est une ASBL qui cueille les fruits non-consommés des jardins de particuliers afin de les redistribuer à des personnes dans le besoin.</p>
               <p>FruitCollect s’est donné pour mission de <strong>sensibiliser sur l’importance d’une alimentation saine, durable et locale</strong>, ainsi que de <strong>lutter contre le gaspillage alimentaire</strong> par la récolte et la redistribution de ces fruits aux plus démunis. FruitCollect est donc actif sur deux pans : social et écologique !</p>
               <p>Pour parvenir à cela, FruitCollect a mis en place quelques activités :
                  <ul>
                     <li style="margin-left:20px;">collecte de fruits de particuliers et redistributions aux ASBL</li>
                     <li style="margin-left:20px;">collecte d’invendus de supermarchés et redistributions aux ASBL</li>
                     <li style="margin-left:20px;">transformation d’une partie des fruits et vente</li>
                     <li style="margin-left:20px;">création de vergers éducatifs.</li>
                  </ul>
               </p>
               <p>Notre activité principale est la récolte de fruits chez des particuliers. Alors comment ca se passe ? Nous venons chez des personnes qui souhaitent donner leurs fruits avec une équipe de bénévoles. En quelques heures nous récoltons les fruits et allons directement les distribuer à nos ASBL partenaires. </p>

            </div>
            <!-- <div class="col-md-4 col-sm-4 hidden-xs content-right">
		 <img src="images/img_terre.jpg" alt="" style="margin-top:0px">
		 </div> -->
         </div>
      </div>

      <div id="team" class="tab-pane">
         <div class="row">
            <div class="col-md-12 col-sm-12">
               <h2>L'équipe</h2>

               <p>Nous sommes une équipe de 5 jeunes travailleurs.  Nous nous rassemblons durant notre temps libre afin de développer l’ASBL.</p>

	       <p>Depuis toujours, les thématiques liées à l'environnement et à la sécurité alimentaire nous interpellent. Ce projet est important pour nous car il véhicule des valeurs telles que la consommation de nourriture locale, saine et la lutte contre le gaspillage alimentaire.</p>

               <div class="row" align="center">
                  <div class="col-xs-6 col-sm-4">
		     <div class="thumbnail">
			<%= image_tag "team/maxime_niego.jpg", :class => "team-pic" %>
			<div class="caption">
			   <h4>Maxime Niego</h4>
			   <p>Chef de projet</p>
			</div>
		     </div>
                  </div>
                  <div class="col-xs-6 col-sm-4">
		     <div class="thumbnail">
			<%= image_tag "team/sebastian_dupas.jpg", :class => "team-pic" %>
			<div class="caption">
			   <h4>Sebastian Dupas</h4>
			   <p>Responsable Financier</p>
			</div>
		     </div>
                  </div>
                  <div class="col-xs-6 col-sm-4">
		     <div class="thumbnail">
			<%= image_tag "team/augustin_jacobs.jpg", :class => "team-pic" %>
			<div class="caption">
			   <h4>Augustin Jacobs</h4>
			   <p>Responsable logistique</p>
			</div>
		     </div>
                  </div>
                  <div class="col-xs-6 col-sm-4">
		     <div class="thumbnail">
			<%= image_tag "team/alicia_gobaerts.jpg", :class => "team-pic" %>
			<div class="caption">
			   <h4>Alicia Gobaerts</h4>
			   <p>Communication</p>
			</div>
		     </div>
                  </div>
                  <div class="col-xs-6 col-sm-4">
		     <div class="thumbnail">
			<%= image_tag "team/helene_bastien.jpg", :class => "team-pic" %>
			<div class="caption">
			   <h4>Hélène Bastien</h4>
			   <p>Fundraiser</p>
			</div>
		     </div>
		  </div>
	       </div>
	    </div>

            <!-- <div class="col-md-4 col-sm-4 hidden-xs content-right">
		 <img src="images/img_terre.jpg" alt="" style="margin-top:0px">
		 </div> -->
	 </div>
      </div>

      <div id="statuts" class="tab-pane">
	 <div class="row">
            <div class="col-md-8 col-sm-8">
               <h2>Les Statuts</h2>
               <p class="lead">Le 12 Novembre 2015, FruitCollect a déposé ses statuts pour devenir une vraie ASBL aux yeux de la loi.</p>
               <p><a href="images/Statuts_FruitCollect.pdf">Cliquez-ici pour télécharger les statuts <i class="fa fa-cloud-download"></i></a></p>
            </div>
            <!-- <div class="col-md-4 col-sm-4 hidden-xs content-right">
		 <img src="images/img_terre.jpg" alt="" style="margin-top:0px">
		 </div> -->
	 </div>
      </div>
   </div>
</div>
