<!doctype html>
<html>
   <head>
      <meta charset="utf-8">
      <meta http-equiv="x-ua-compatible" content="ie=edge">
      <meta name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no, maximum-scale=1.0, user-scalable=no">
      <!-- Use the title from a page's frontmatter if it has one -->
      <title><%= current_page.data.title || "FruitCollect" %></title>
      <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "FruitCollect" %>">
      <%= stylesheet_link_tag "site" %>
      <%= favicon_tag 'favicon.png' %>
      <% if current_page.data.extra_css %>
         <%= stylesheet_link_tag current_page.data.extra_css %>
      <% end %>
   </head>
   <body class="home">
      <div id="fb-root"></div>
      <%= javascript_include_tag 'sdk', 'data-turbolinks-track' => 'reload' %>
      <header class="site-header">
         <%= partial "navigation" %>
      </header>
      <%#= render 'layouts/messages' %>
      <div class="page-header">
         <div class="container">
            <div class="row">

               <!-- MAIN IMAGE -->

            </div>
         </div>
      </div>
      <!-- End Hero Slider -->
      <div class="double-border"></div>
      <!-- Start Lead Block -->
      <div class="lead-block">
         <div class="container">

            <%= yield %>

         </div>
      </div>

      <%= partial "footer" %>

      <!-- Growfunding modal -->
      <!-- <div class="modal fade" id="growfunding-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
           <div class="modal-dialog" role="document">
           <div class="modal-content">
           <div class="modal-header">
           <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
           <h1 class="modal-title" id="myModalLabel">🍎 🚐 Crowdfunding Fruitcollect 🚐 🍎</h1>
           </div>
           <div class="modal-body">
           <h2>Aidez-nous à acquérir une camionnette en nous soutenant via notre crowdfunding:</h2>
           <h2><a href="https://growfunding.be/fr/bxl/fruitcollect" target="_blank">https://growfunding.be/fr/bxl/fruitcollect</a></h2>
           </div>
           <div class="modal-footer">
           <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
           </div>
           </div>
           </div>
           </div> -->

      <a id="back-to-top"><i class="fa fa-angle-double-up"></i></a>
      <%= javascript_include_tag "site" %>
      <% if current_page.data.extra_js %>
         <% for js_script in current_page.data.extra_js %>
            <%= javascript_include_tag js_script %>
         <% end %>
      <% end %>
   </body>
</html>
