<!-- <div class="top-header hidden-xs">
     <div class="container">
     <div class="row">
     <div class="col-md-6">
     <div class="upcoming-event-bar">
     <i class="fa fa-apple"></i> <a href="#" class="lienLangue">Fr</a>
     <i class="fa fa-apple"></i> <a href="#" class="lienLangue">Nl</a>
     <i class="fa fa-apple"></i> <a href="#" class="lienLangue">En</a>
     </div>
     </div>
     <div class="col-md-6">
     <ul class="social-links social-links-lighter">
     <li><a href="https://www.facebook.com/fruitcollect" target="_blank"><i class="fa fa-facebook-square"></i></a></li>
     <li><a href="mailto:info@fruitcollect.be"><i class="fa fa-envelope"></i></a></li>
     </ul>
     </div>
     </div>
     </div>
     </div> -->


<nav class="navbar navbar-default navbar-fixed-top">
   <div class="container">
      <div class="navbar-header">
         <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
         </button>
	 <%= link_to image_tag("logo_fruitcollect.png"), "/", class: "navbar-brand" %>
         <!-- <a class="navbar-brand" href="#">Project name</a> -->
      </div>
      <div id="navbar" class="navbar-collapse collapse">
         <ul class="nav navbar-nav">
	    <!-- <li><%#= link_to "Accueil", "/" %></li> -->
      	    <li><%= link_to "Notre Mission", "/mission" %></li>
       	    <li><%= link_to "Nous soutenir", "/soutien" %></li>
	    <li><%= link_to "Commander du jus", "/commande" %></li>
	    <li><%= link_to "Partenaires", "/partenaires" %></li>
	    <li><%= link_to "Calendrier des récoltes", "/calendrier" %></li>
	    <li><%= link_to "Contact", "/contact" %></li>
	    <li><%= link_to "Gallerie", "/gallerie" %></li>
         </ul>
      </div><!--/.nav-collapse -->
   </div>
</nav>
