<div class="tabs">
   <div class="nav-tabs-bar">
      <ul class="nav nav-tabs">
	 <li class="active"> <a data-toggle="tab" href="#associations">Associations</a> </li>
	 <li class=""> <a data-toggle="tab" href="#entreprises">Entreprises</a> </li>
      </ul>

   </div>
   <div class="tab-content">

      <!-- Start Onglet Partenaires Associations -->

      <div id="associations" class="tab-pane active">
	 <div class="row">
            <div class="col-md-12 col-sm-12">
               <h2>Présentation des ASBL auxquelles FruitCollect redistribue des fruits</h2>

               <div class="spacer-20"></div>

               <div class="media">
		  <div class="pull-left" style="vertical-align:middle; margin-right:15px;">
                     <a href="http://www.horizonsneufs.be/" target="_blank" class="media-box">
			<%= image_tag("partenaires/horizons_neufs.png", class: "img-thumbnail post-thumb media-object") %>
                     </a>
		  </div>
		  <div class="media-body">
                     <h3 class="media-heading">Horizons Neufs ASBL</h3>

                     <p>Depuis 1978, l’asbl Horizons Neufs développe et organise l’hébergement et les activités de personnes adultes ayant un handicap mental sur Louvain-la-Neuve. </p>
                     <p><i class="fa fa-hand-o-right"></i> <a href="http://www.horizonsneufs.be/" target="_blank">En Savoir Plus</a></p>
		  </div>
               </div>

               <hr class="lg">

               <div class="media">
		  <div class="pull-right" style="vertical-align:middle; margin-left:15px;">
                     <a href="http://asbldynaco.be" target="_blank" class="media-box">
			<%= image_tag("partenaires/dynaco.png", class: "img-thumbnail post-thumb media-object") %>
                     </a>
		  </div>
		  <div class="media-body">
                     <h3 class="media-heading">Dynaco ASBL</h3>

                     <p> L’asbl Dynaco met en oeuvre 3 Projets de Cohésion Sociale dans différents quartiers bruxellois en tant qu’opérateur de terrain dans le cadre du dispositif des Projets de Cohésion Sociale, subsidié par le gouvernement de la région Bruxelles Capitale.</p>
                     <p><i class="fa fa-hand-o-right"></i> <a href="http://asbldynaco.be" target="_blank">En Savoir Plus</a></p>
		  </div>
               </div>

               <hr class="lg">


               <div class="media">
		  <div class="pull-left" style="vertical-align:middle; margin-right:15px;">
                     <a href="http://www.amarrage.be" target="_blank" class="media-box">
			<%= image_tag("partenaires/amarrage.gif", class: "img-thumbnail post-thumb media-object") %>
                     </a>
		  </div>
		  <div class="media-body">
                     <h3 class="media-heading">Amarrage ASBL</h3>

                     <p>Amarrage est une Asbl qui accueille chaque année une centaine de jeunes en situation socio-familiale difficile et les aide à tisser des liens avec leur environnement.</p>
                     <p><i class="fa fa-hand-o-right"></i> <a href="http://www.amarrage.be/" target="_blank">En Savoir Plus</a></p>
		  </div>
               </div>

               <hr class="lg">


               <div class="media">
		  <div class="pull-right" style="vertical-align:middle; margin-left:15px;">
                     <a href="https://www.facebook.com/Logement-et-Harmonie-Sociale-asbl-1397901620479731/" target="_blank" class="media-box">
			<%= image_tag("partenaires/LHS.jpg", class: "img-thumbnail post-thumb media-object") %>
                     </a>
		  </div>
		  <div class="media-body">
                     <h3 class="media-heading">Logement et Harmonie Sociale (LHS)</h3>

                     <p> L'asbl Logement et Harmonie Sociale a pour objectif de soutenir et favoriser les initiatives et la participation des habitants des différents quartiers de logements sociaux. Elle est également en charge du Projet de Cohésion Sociale sur la commune d'Etterbeek.</p>
                     <p><i class="fa fa-hand-o-right"></i> <a href="https://www.facebook.com/Logement-et-Harmonie-Sociale-asbl-1397901620479731/" target="_blank">En Savoir Plus</a></p>
		  </div>
               </div>

               <hr class="lg">

               <div class="media">
		  <div class="pull-left" style="vertical-align:middle; margin-right:15px;">
                     <a href="http://www.guidesocial.be/eglantier/" target="_blank" class="media-box">
			<%= image_tag("partenaires/eglantier.jpg", class: "img-thumbnail post-thumb media-object") %>
                     </a>
		  </div>
		  <div class="media-body">
                     <h3 class="media-heading">L’Eglantier ASBL</h3>

                     <p>L'Eglantier, Maison d'accueil héberge depuis 1978, 24h/24 des femmes en difficulté, seules ou accompagnées de leurs enfants. <br>
			Parmi les différentes situations (perte de logement, de liens familiaux,...), les difficultés de couple, accompagnées le plus souvent de violences, sont le motif principal des demandes d'accueil.  L'Eglantier dispose d'une capacité d'hébergement de 20 lits.
		     </p>
                     <p><i class="fa fa-hand-o-right"></i> <a href="http://www.guidesocial.be/eglantier/" target="_blank">En Savoir Plus</a></p>
		  </div>
               </div>

               <hr class="lg">


               <div class="media">
		  <div class="pull-right" style="vertical-align:middle; margin-left:15px;">
                     <a href="http://fedasil.be" target="_blank" class="media-box">
			<%= image_tag("partenaires/fedasil.png", class: "img-thumbnail post-thumb media-object") %>
                     </a>
		  </div>
		  <div class="media-body">
                     <h3 class="media-heading">FEDASIL</h3>

                     <p>L'Agence fédérale pour l'accueil des demandeurs d'asile (Fedasil) est une instance d'utilité publique opérationnelle depuis mai 2002.<br>
			Fedasil garantit l’octroi d’une aide matérielle aux demandeurs d’asile et à d'autres catégories d'étrangers ayant également droit à l'accueil ('loi accueil' du 12 janvier 2007). Fedasil organise, directement ou avec ses partenaires, un accueil et un accompagnement de qualité. L’Agence veille aussi à l'observation et l'orientation des mineurs étrangers non accompagnés (les 'Mena'). </p>
                     <p><i class="fa fa-hand-o-right"></i> <a href="http://fedasil.be" target="_blank">En Savoir Plus</a></p>
		  </div>
               </div>

               <hr class="lg">

               <div class="media">
		  <div class="pull-left" style="vertical-align:middle; margin-right:15px;">
                     <a href="http://pro.guidesocial.be/associations/maison-accueil-escale-asbl.170028.html" target="_blank" class="media-box">
			<%= image_tag("partenaires/escale.jpg", class: "img-thumbnail post-thumb media-object") %>
                     </a>
		  </div>
		  <div class="media-body">
                     <h3 class="media-heading">Maison d'accueil Escale</h3>

                     <p>Depuis le 12 mai 2014, la Maison d'accueil Escale a pour objet de venir en aide aux personnes se trouvant dans la précarité ; principalement aux femmes avec et sans enfants ainsi qu’aux familles sans logement, aux personnes expulsées ou en rupture familiale. </p>
                     <p><i class="fa fa-hand-o-right"></i> <a href="http://pro.guidesocial.be/associations/maison-accueil-escale-asbl.170028.html" target="_blank">En Savoir Plus</a></p>
		  </div>
               </div>

               <hr class="lg">

               <div class="media">
		  <div class="pull-right" style="vertical-align:middle; margin-left:15px;">
                     <a href="http://www.sesoweb.org/seso/index.php/fr/" target="_blank" class="media-box">
			<%= image_tag("partenaires/seso.png", class: "img-thumbnail post-thumb media-object") %>
                     </a>
		  </div>
		  <div class="media-body">
                     <h3 class="media-heading">SESO/SETM</h3>

                     <p>Le service social général vise à donner un soutien socio-administratif aux Belges et aux Etrangers en difficulté. Leur travail est basé sur des entretiens individuels. Ils essayent de répondre aux questions et d'orienter les demandeurs vers d'autres services compétents. Exceptionnellement, des accompagnements extérieurs (communes, CGRA, CPAS, tribunal du travail, avocats, centres de santé) ou des visites à domicile (personnes malades, handicapées) sont également possibles.</p>
                     <p><i class="fa fa-hand-o-right"></i> <a href="http://www.sesoweb.org/seso/index.php/fr/" target="_blank">En Savoir Plus</a></p>
		  </div>
               </div>

               <hr class="lg">

               <div class="media">
		  <div class="pull-left" style="vertical-align:middle; margin-right:15px;">
                     <a href="http://www.etterbeek.irisnet.be/nos-services/prevention" target="_blank" class="media-box">
			<%= image_tag("partenaires/etterbeek.jpg", class: "img-thumbnail post-thumb media-object") %>
                     </a>
		  </div>
		  <div class="media-body">
                     <h3 class="media-heading">Service de Prevention d'Etterbeek</h3>

                     <p>Depuis 1994, la commune d’Etterbeek dispose d’un Contrat de Sécurité et de Prévention. Aujourd’hui, ce dernier, plus communément appelé Service de prévention, regroupe plus de cinquante personnes dont les missions essentielles s’articulent autour des principes suivants :
                     </p><ul>
			<li style="margin-left:20px;">Tendre vers un niveau de sécurité acceptable pour les citoyens ;</li>
			<li style="margin-left:20px;">Contribuer à l’amélioration de la qualité de vie ;</li>
			<li style="margin-left:20px;">Rencontrer les besoins locaux en matière de protection des citoyens ;</li>
			<li style="margin-left:20px;">Renforcer le lien social et la cohésion sociale ;</li>
			<li style="margin-left:20px;">Agir contre la petite délinquance ;</li>
			<li style="margin-left:20px;">Endiguer le sentiment d'insécurité.</li>
                     </ul>
                     <p></p>
                     <p><i class="fa fa-hand-o-right"></i> <a href="http://www.etterbeek.irisnet.be/nos-services/prevention" target="_blank">En Savoir Plus</a></p>
		  </div>
               </div>

               <hr class="lg">
            </div>
	 </div>
      </div>

      <!-- Start Onglet Partenaires Entreprises -->

      <div id="entreprises" class="tab-pane">
	 <div class="row">
            <div class="col-md-12 col-sm-12">
               <h2>Présentation des Entreprises qui sponsorisent FruitCollect</h2>

               <p>FruitCollect remercie vivement ses partenaires. Sans eux, la concrétisation de l'association n'aurait pas été possible. Il s'agit donc là d'une contribution indispensable au bon fonctionnement et à la pérennité de l'association. Nous espérons ces partenariats aussi longs que possible. Encore merci!</p>

               <div class="spacer-20"></div>

               <div class="media">
		  <div class="pull-left" style="vertical-align:middle; margin-right:15px;">
                     <a href="http://WWW.IDPRINTING.BE" target="_blank" class="media-box">
			<%= image_tag("partenaires/idprinting_partenaire.jpg", class: "img-thumbnail post-thumb media-object") %>
                     </a>
		  </div>
		  <div class="media-body">
                     <h3 class="media-heading">Idprinting.be</h3>

                     <p>En vous conseillant, nous élaborons avec vous la solution pour la réalisation d'un imprimé qui correspond le mieux à vos attentes et vos souhaits, et qui pourrait même les dépasser. Pour vos besoins en imprimés destinés à la communication, nous utilisons les techniques les plus modernes.</p>
                     <p><i class="fa fa-hand-o-right"></i> <a href="http://WWW.IDPRINTING.BE" target="_blank">Visiter leur site</a></p>
		  </div>
               </div>

               <hr class="lg">

               <div class="media">
		  <div class="pull-right" style="vertical-align:middle; margin-left:15px;">
                     <a href="http://WWW.ICREATI.BE" target="_blank" class="media-box">
			<%= image_tag("partenaires/icreati_partenaire.jpg", class: "img-thumbnail post-thumb media-object") %>
                     </a>
		  </div>
		  <div class="media-body">
                     <h3 class="media-heading">Icreati</h3>

                     <p>Notre équipe développe et conçoit un vastes choix de créations, du webdesign à la pré-presse tels que des brochures, affiches, cartes de visites, flyers et ce quelque soit le format souhaité. Réalisant tous vos désirs et soucieux de votre charte graphique, laissez parler votre imagination, nous nous chargerons de la réaliser...</p>
                     <p><i class="fa fa-hand-o-right"></i> <a href="WWW.ICREATI.BE" target="_blank">Visiter leur site</a></p>
		  </div>
               </div>

               <hr class="lg">


               <div class="media">
		  <div class="pull-left" style="vertical-align:middle; margin-right:15px;">
                     <a href="http://WWW.CAMUSIGRID.COM" target="_blank" class="media-box">
			<%= image_tag("partenaires/sigridcamus_partenaire.jpg", class: "img-thumbnail post-thumb media-object") %>
                     </a>
		  </div>
		  <div class="media-body">
                     <h3 class="media-heading">Camus Sigrid</h3>

                     <p>Graphic Designer &amp; Artiste bruxelloise nous ayant aidé sur notre charte graphique.</p>
                     <p><i class="fa fa-hand-o-right"></i> <a href="http://WWW.CAMUSIGRID.COM" target="_blank">Visiter son site</a></p>
		  </div>
               </div>

               <hr class="lg">
            </div>
	 </div>
      </div>
   </div>
</div>
