---
title: FruitCollect - Home
---

<div class="row">
   <div class="col-md-8 col-sm-8" align="center">
      <p class="lead" style="font-size:24px; font-weight:550;">A l'aide de récolteurs bénévoles, <span class="fruit-text">Fruit</span><span class="collect-text">Collect</span> cueille les fruits non-consommés des jardins de particuliers afin de les redistribuer à des personnes dans le besoin.</p>
      <hr class="md">

      <video id="presentation" src="/assets/video/fruitcollect.mp4" width="100%" type="video/mp4" controls></video>
   </div>

   <div class="col-md-4 col-sm-4 hidden-xs content-right">

      <%= image_tag "apple.png", alt: "Apple", class: "apple" %><br>
      <p style="font-weight:600;"><span class="lead"><span style="color: #c0181a;">Fruit</span><span style="color: #8bc052;">Collect</span> en Chiffres:</span></p>

      <p><span style="color:#c0181a;">-</span> Plus de 150 bénevoles FruitCollecteurs</p>
      <p><span style="color:#c0181a;">-</span> 70 jardins de nos FruitDonneurs</p>
      <p><span style="color:#c0181a;">-</span> Une dizaine d’associations bénéficiaires</p>
      <p><span style="color:#c0181a;">-</span> Plus de 750 bénéficiaires</p>
      <p><span style="color:#c0181a;">-</span> 2 tonnes de fruits récoltés en 2015 et 6 tonnes en 2016</p>
      <p><span style="color:#c0181a;">-</span> 1 verger éducatif en préparation</p>

   </div>
</div>

<div class="row">
   <div class="col-md-12 col-sm-12" align="center" style="padding-top:20px;">

      <%= image_tag "fleche-gauche.png", width: 50 %>
      <span class="lead">Get Involved!</span>
      <%= image_tag "fleche-droite.png", width: 50 %>
      <hr class="lg">
      <p>
         <a href="/soutien" class="btn btn-lg btn-primary btn-fc">Devenir Récolteur</a>&nbsp;&nbsp;&nbsp;
         <a href="/soutien" class="btn btn-lg btn-primary btn-fc">Devenir Donneur</a>&nbsp;&nbsp;&nbsp;
         <a href="/soutien" class="btn btn-lg btn-primary btn-fc">Faire un Don</a>&nbsp;&nbsp;&nbsp;
         <a href="/contact" class="btn btn-lg btn-primary btn-fc">Contact</a>
      </p>

      <div class="hidden-xs">
         <hr class="lg">

         <p class="lead">On parle de nous:</p>

         <%= link_to image_tag("Nostalgie.png", alt: "Nostalgie", class: "desaturate"), "http://www.nostalgie.be/app_dev.php/articles/fruitcollect-6-tonnes-de-fruits-pour-les-plus-demu.html", target: "_blank" %>
         <%= link_to image_tag("ULBjournalisme.jpg", alt: "ULB Journalisme", class: "desaturate"), "http://jweb.ulb.be/wordpress/maxime-niego-fruitcollect-petite-asbl-deviendra-grande/", target: "_blank" %>
         <%= link_to image_tag("MrMondialisation.png", alt: "Mr Mondialisation", class: "desaturate"), "https://mrmondialisation.org/fruitcollect-lassociation-belge-qui-recolte-des-fruits-pour-les-plus-demunis/", target: "_blank" %>
      </div>

      <hr class="lg">
   </div>
</div>
